 <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src="assets/aneesh-golden-gate.png" border="0" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding " style="width:100%">
                            <p>
                                I am a second year student studying Electrical Engineering and Computer Science at the University of California, Berkeley. You can check out my <a>portfolio</a> of projects to see some of the fun projects I've done.
                            </p>
                        </div>
                    </div>
                </div>


            </div>