 <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src="https://firebasestorage.googleapis.com/v0/b/website-15acf.appspot.com/o/AboutPhoto.jpg?alt=media&token=cb07aa6c-3a95-4f27-8de8-b2de1e283f17" border="0" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding " style="width:100%">
                            <p>
                                I am a second year student studying Electrical Engineering and Computer Science at the University of California, Berkeley. You can check out my portfolio of projects to see some of the cool things I've made, or visit the tutorials tab to learn some Android development!
                            </p>
                        </div>

                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Fun Facts</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding " style="width:100%">
                            <p>
                                1. I love the TV show Friends. I even made a <a href="https://play.google.com/store/apps/details?id=aneeshj.friendswhip">Chandler Bing Whip App</a> in honor of the unique whipping noise he makes. The app features a widget, whip count leaderboard, and more!
                            </p>
                            <p>
                                2. Football is my favorite sport--Go Buckeyes! in fact, I am playing flag football on an intramural team!
                            </p>
                            <p>
                                3. I have designed a few Snapchat filters, maybe one day one will be accepted! (*sad face*)
                            </p>
                            <p>
                                4. In middle school I memorized 175 digits of Pi.
                            </p>
                        </div>
                    </div>
                </div>


            </div>