 <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">YouTube Tutorials</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding " style="width:100%">
                            <p>
                                As the Android Development Lead for <a href="https:\\www.mobiledevsberkeley.org">Mobile Developers of Berkeley</a> I have created a Android development video tutorials that cover a range of topics such as <a href="https://youtu.be/c1W54y27cic?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">ConstraintLayout</a>, <a href="https://youtu.be/1kiwB3WkOKs?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">RecyclerView</a>, <a href="https://youtu.be/8dwu927jdY0?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">Intents</a>, <a href="https://www.youtube.com/watch?v=9sJKvyrqz88&index=9&list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">Firebase</a>, <a href="https://youtu.be/swW9qasT-1I?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">Menus/Preferences</a>, and <a href="https://www.youtube.com/playlist?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S">more</a>. The playlist can be seen below.
                            </p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLlCQ1Z3o99VqxHnxku09aQ7E8jAAWSL0S" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Slides</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding " style="width:100%">
                            <p>
                                Mobile Developers of Berkeley held an Android open workshop for UC Berkeley students. The slides I made for this workshop are viewable <a href="https://docs.google.com/presentation/d/12em7QolMV-nY5C6BiiUuOccI7lbg8QzsWLO5bLfDVCA/edit?usp=sharing">here</a>.
                            </p>
                        </div>
                    </div>
                </div>


            </div>